*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,ol{
    list-style-type: none;
}
body{
    background: white;
    color: black;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem 0px;
    justify-content: center;
}
.stats-container{
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 3rem;
    border-radius: 2rem;
    border: 2px solid purple;
}
.stats-container h1 {
    text-transform: capitalize;
    font-size: 3rem;
}
.stats-container p {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 1rem 0;
}
#progressBar{
    width: 100%;
    height: 0.8rem;
    background: rgb(220, 220, 220);
    border-radius: 0.5rem;
    overflow: hidden;
}
#progress{
    height: 100%;
    width: 50%;
    border-radius: 0.5rem;
    background: green;
    transition: all 0.3s ease;
}
#numbers{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: purple;
    color: white;
}
form{
    display: flex;
    align-items: center;
    gap: 1rem;
}
form input{
    padding: 1rem;
    border: 1px solid purple;
    border-radius: 0.9rem;
    width: 20rem;
    outline: none;
}
input::placeholder{
    color: black;
    text-transform: capitalize;
}
form button{
    background: transparent;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: purple;
    border: 1px solid purple;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#task-list{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}
#task-list li{
    width: 100%;
    height: fit-content;
    padding: 0.7rem;
    border: 1px solid rgba(128, 128, 128, 0.50);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #task-list li .completed span{
    text-decoration: line-through;
} */
#task-list li label{
    display: flex; 
    align-items: center;
    gap: 0px 15px;
    font-size: 1.3rem;
    text-transform: capitalize;
    width: 80%;
    cursor: pointer;
}
#task-list li button{
    background: transparent;
    cursor: pointer;
    border: none;
    display: block;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 0px 20px;
}
.completed span{
    text-decoration: line-through;
}